table,
:nth-child(4) {
    border-spacing: 1rem;
}

table {
    border: 2px solid rgba(200, 200, 200, 0.4);
}

#info-frame {
    border: 2px solid rgba(200, 200, 200, 0.4);

}

div.info-frame{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }