
table, :nth-child(4){
    border-spacing: 1rem;
 }

table{
    border:2px solid rgba(200, 200, 200, 0.4);
    border-spacing: 1rem;
}

#info-frame{
    border:2px solid rgba(200, 200, 200, 0.4);


}
